.two-final-design-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 6rem;
    gap: 1rem;
}

.p-final-design-row-vids {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 5rem;
}

.p2-final-design-video {
    height: 40vw;  
    width: auto;   
    object-fit: cover; 
}

.video2-border {
    border-radius: 8px;
}

.current-experience-column, .design-principles-column, 
.design-interation-column, .app-ux-work-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.real-behavior-question {
    font-size: clamp(0.95rem, 0.6vw, 1.1rem);
    color: #FFB266;
    max-width: 100%;
    text-indent: 2rem;
}

.real-behavior-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dial-design-iteration-row, .room-design-iteration-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
}

.dial-design-iteration-img {
    max-width: 13vw;
    object-fit: contain;
}

.dial-design-iteration-description {
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;
    font-size: clamp(0.7rem, 0.6vw, 0.8rem);
    max-width: 100%;
    padding-bottom: 3rem;
    color: #f0f0f0;
    text-align: center;
}

.dial-design-iteration-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hardware-row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.rectangle-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    gap: 2rem;
}

 /* mobile screens*/
 @media screen and (max-width: 768px) {
    .two-final-design-row {
        flex-direction: column;
        gap: 1rem;
        padding-top: 3rem;
    }
    .p2-final-design-video {
        height: 70vw;
        object-fit: contain;
        align-self: center;
    }
    .p-final-design-row-vids {
        padding-bottom: 3rem;
    }
    .dial-design-iteration-row, .hardware-row {
        flex-direction: column;
        gap: 1rem;
    }
    .dial-design-iteration-img, .design-iteration-img {
        max-width: 40vw;
        align-self: center;
    }
    .room-design-iteration-row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;
    }
  }