@font-face {
    font-family: 'JetBrainsMono-Bold';
    src: url('./static/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: 800;
  }
  @font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('./static/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
  }
  