@media screen and (max-width: 840px) {
    .nav-content {
      flex-direction: row;       
      align-items: flex-start;
      justify-content: space-between;
      gap: 1rem;
    }
    .nav-buttons {
      flex-direction: column;    
      align-items: flex-start;
    }
    .desktopMenuListItem {
        font-size: 1.2rem;
    }
  }
.navbar {
    padding: 2rem;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
      
}
.navbar-light .desktopMenuListItem {
    color: white;
}
.navbar-dark .desktopMenuListItem {
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.desktopMenuListItem:hover {
    color: #FFB266;
    transition: color 0.2s ease;
}
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'JetBrainsMono-Regular';
}
.nav-buttons {
    display: flex;
    gap: 1rem;
}
.nav-buttons button {
    border-radius: 40px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-family: 'JetBrainsMono-Regular';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    cursor: pointer;
}
.navbar-light .resume-button {
    border: 1.5px solid white;
    color: white;
}
.navbar-light .linkedin-button {
    border: 1.5px solid white;
    color: white;
}
.navbar-light .github-button {
    border: 1.5px solid white;
    color: white;
}

/* hover colors for white navbar */
.navbar-light .resume-button:hover {
  background-color: white;
  color: black;
}
.navbar-light .linkedin-button:hover {
  background-color: #0a66c2;
  color: white;
}
.navbar-light .github-button:hover {
  background-color: #08872B;
  color: white;
}

/* hover colors for black navbar */
.navbar-dark .resume-button:hover {
    background-color: black;
    color: white;
}
.navbar-dark .linkedin-button:hover {
    background-color: #0a66c2;
    color: white;
}
.navbar-dark .github-button:hover {
    background-color: #08872B;
    color: white;
}

.desktopMenuList:hover {
    cursor: pointer;
    display: inline-block;
    perspective: 800px;
}
.desktopMenuListItem {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.3;
    font-family: 'JetBrainsMono-Regular';
    display: block;
    transition: all .2s ease-in-out; 
    transform-origin: left center;
    text-align: right;
}
.desktopMenuListItem:hover {
    transform: scale(1.1); 
}