.small-rectangle {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #f2f3f4;;
    border-radius: 5px;
    padding: 1rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-rectangle-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.small-rectangle-title {
    font-family: 'Work Sans';
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #f2f3f4;
    text-align: center;
}

.small-rectangle-description {
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;
    color: #000;
    font-size: 0.9rem;
    text-align: center;
}