.small-rectangle {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #f2f3f4;;
    border-radius: 5px;
    padding: 2.2rem 2.5rem;
    flex: 1;
}

.small-rectangle-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.small-rectangle-title {
    font-family: 'Inter';
    text-transform: uppercase;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #f2f3f4;
}

.small-rectangle-description {
    color: #000;
    font-size: clamp(0.85rem, 2vw, 1.2rem);
    text-align: center;
}