.large-rectangle {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2rem;
    flex: 1;
}

.large-rectangle-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.large-rectangle-title {
    font-family: 'Inter';
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #f2f3f4;
}

.orange-letter {
    color: #FFB266;
  }
  

.large-rectangle-description {
    color: #979797;
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 1rem;
}

.inner-rectangle {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #f2f3f4;
    border-radius: 5px;
    padding: 2rem;
}

.inner-row {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1rem;
    align-items: center;
}

.company-name {
    color: #000;
    min-width: 150px;
    font-family: 'Inter';
    text-transform: uppercase;
    font-size: 1.1rem;
}

.inner-text {
    color: #000;
    font-family: 'JetBrains Mono', monospace;
    font-weight: normal;
    font-size: 0.8rem;
}


/* @media screen and (min-width: 769px) and (max-width: 1495px) {
    .square {
        max-width: 17vw;
    }
} */

@media screen and (max-width: 768px) {
    .inner-row {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    
    .company-name {
        color: #000;
        max-width: 50px;
        text-align: center;
    }

    .inner-text {
        color: #000;
        text-align: center;
    }
}