* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    color: var(--fg);
    overflow: hidden;
    overflow-y: scroll;
}

code,
pre,
.mono {
  font-family: 'JetBrains Mono', monospace;
}

html {
  scrollbar-color: #474747 var(--bg); 
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10ox;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 8px;
}