.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid #ddd;
    /* position: sticky;
    top: 0;
    z-index: 3; */
}
.name {
    /* height: 3rem; */
    font-size: 100px;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'JetBrainsMono-Bold';
}
.right-nav {
    text-align: right;
}
.desktopMenuListItem {
    display: block;
    font-family: 'JetBrainsMono-Regular';
    font-size: 20px;
}