.square {
    width: 15vw;
    height: auto;
    /* aspect-ratio: 1 / 1; */
    background-color: #5B5B5B;
    border-radius: 5px;
    padding: 1.3rem;
}

.square-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.square-title {
    font-family: 'Work Sans';
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #f2f3f4;
}

.square-description {
    color: #f0f0f0;
    font-size: 0.8rem;
    font-weight: 50;
    text-align: center;
}

/* Mobile Layout */
@media screen and (min-width: 769px) and (max-width: 1495px) {
    .square {
        width: 17vw;
    }
}

@media screen and (max-width: 768px) {
    .square {
        width: 85vw;
        margin: 0 auto;
    }
    
}