.design-card {
    width: 100%;
    /* max-width: 100%; */
    height: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2.8rem 2.8rem;
    flex: 1;
    max-width: 65vw;
}

.design-card-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.design-card-header-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.design-card-number {
    font-family: 'Inter';
    text-transform: uppercase;
    font-size: 3rem;
    color: #FFB266;
}

.design-card-title {
    font-family: 'Inter';
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #f2f3f4;
}

.design-card-image {
    border-radius: 5px;
}

.problem-solution-cards-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.problem-solution-card {
    width: 100%;
    /* max-width: 100%; */
    height: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2rem;
}

.problem-solution-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.problem-solution-subtitle {
    color: #f2f3f4;
    font-family: 'Inter';
    text-transform: uppercase;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.problem-solution-text {
    color: #f0f0f0;
    font-size: 0.9rem;
}

/* tablet and mis-size screens */
@media screen and (min-width: 769px) and (max-width: 1495px) {
    .design-card {
        max-width: 75vw;
    }
  }

/* mobile screens */
  @media screen and (max-width: 768px) {
    .design-card {
        max-width: 85vw;
        padding: 1.5rem 1.5rem;
    }

    .problem-solution-cards-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .problem-solution-card {
        padding: 1.5rem 1.5rem;
    }
  }