html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'JetBrainsMono-Regular', sans-serif;
    overflow-x: hidden;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  