@media screen and (max-width: 840px) {
    .nav-description, .description {
      text-align: left;       
      max-width: 60vw;
      font-size: 0.5rem;
    }
    .name {
        font-size: 1rem;
    }
}
.work-container {
    background: url("../../assets/images/serjan-midili-hJb7hOl7AEs-unsplash.jpg") no-repeat center center;
    background-size: cover;      
    background-position: center;   
    min-height: 100vh;              
    width: 100vw;              
    position: relative;         
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}
.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85vh;
    color: white;
}
.nav-header {
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.name {
    font-family: 'Inter';
    font-size: clamp(2.5rem, 11.5vw, 12rem);
    text-transform: uppercase;
}
.description {
    font-family: 'JetBrainsMono-Regular';
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1;
    text-align: left;
    max-width: 600px;
    text-transform: uppercase;
}
.nav-artist {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    color: white;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
.artist-tag {
    color:#fff;
    text-decoration: none;
    font-size: 12px;
    font-family: 'JetBrainsMono-Regular';
}
a {
    color:#fff;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color:#FFB266;
}
.work-section {
    min-height: 100vh;               
    width: 100vw; 
    position: relative;
    padding: 2rem;
}
.work-title {
    display: flex;
    font-size: 12rem;
    font-family: 'Inter';
    text-transform: uppercase;
    text-align: right;
    justify-content: flex-end;
}
.link-list-work {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}
.link-list-work a {
    text-transform: uppercase;
    font-family: 'JetBrainsMono-Bold';
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.2s ease;
}

/* hover colors for link list */
.resume-button, .linkedin-button, .github-button {
    color: black;
}
.resume-button:hover {
    color: #FFB266;
}
.linkedin-button:hover {
    color: #0a66c2;
}
.github-button:hover {
    color: #08872B;
}

.projects-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.project-column {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
}
.project-image {
    background-color: black;
    height: 80vh;
    width: 100%;
    background-size: cover;      
    background-position: center;  
    border-radius: 10px;
}
.image-1 {
    background-image: url(../../assets/images/abobeflux-image2.png);
}
.image-2 {
    background-image: url(../../assets/images/spartansync-image1.png);
}
.image-3 {
    background-image: url(../../assets/images/aura-image1.png);
}
.project-title {
    font-family: 'Inter';
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 4vw;
    display: flex;
    justify-content: center;
}
.project-description {
    font-family: 'JetBrainsMono-Regular';
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    color: #5B5B5B;
    padding-top: 10rem;
    padding-bottom: 1rem;
}
.project-description-left {
    font-family: 'JetBrainsMono-Regular';
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    color: #5B5B5B;
    padding-bottom: 1rem;
    padding-top: 10rem;
}
.message-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2rem;
}
.message-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    border-radius: 40px;
    padding: 8px 15px;
    font-family: 'JetBrainsMono-Regular';
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}
.message-button svg {
    vertical-align: middle;
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.5px; 
}
@media screen and (min-width: 1000px) {
    .project-title {
        font-size: 4rem;
    }
  }
  @media screen and (max-width: 400px) {
    .project-title {
        font-size: 3rem;
    }
  }