.main-content {
  position: relative;
  overflow: hidden;
}

.work-container {
  background-color: #000;
  position: relative;         
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.work-section {
  min-height: 100vh;               
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-list-work {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.link-list-work a {
  text-transform: uppercase;
  font-family: 'JetBrainsMono-Bold';
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.2s ease;
}

/* hover colors for link list */
.resume-button, .linkedin-button, .github-button {
  color: black;
}

.resume-button:hover {
  color: #FFB266;
}

.linkedin-button:hover {
  color: #0a66c2;
}

.github-button:hover {
  color: #08872B;
}

/* work section */
.project-section {
  padding: 6rem 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.project-column {
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.project-block {
  height: auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}  

.project-text {
  flex: 1;
  min-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: left;
}

.project-title {
  font-family: 'Inter';
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.encrypted-char {
  color: #fff;
  font-family: 'Inter';
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
  transition: color 0.3s, opacity 0.3s;
}

.project-description {
  font-family: 'JetBrainsMono-Regular';
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  color: #999;
  line-height: 1.5;
}

.project-image {
  flex: 1;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  overflow: visible;
  position: relative;
}

.laptop-mockup {
  max-width: clamp(20vw, 60vw, 90vw);
  height: auto;
  object-fit: contain;
  aspect-ratio: 16 / 10; 
}

.phone-mockup {
  max-width: clamp(20vh, 40vh, 70vh);
  height: auto;
  aspect-ratio: 9 / 19.5; 
}

/* Mobile Layout */
@media screen and (max-width: 768px) {
  .project-block {
    flex-direction: column;
    text-align: center;
  }

  .project-image {
    margin-top: 2rem;
    max-width: 90vw;
    aspect-ratio: 9 / 19.5;
  }

  .project-title {
    font-size: 2rem;
  }

  .project-description {
    font-size: 0.95rem;
    max-width: 100%;
  }

  .laptop-mockup {
    max-width: 40vw;
    aspect-ratio: 16 / 10;
  }
}
